.cartelcontainer{
    border: 1px solid rgb(42, 165, 165);
    width: 100px;
    height: 30px;
    margin: 10px 10px 10px 600px;
    border-radius: 5%;
    background-color: rgb(196, 255, 255);
    color: rgb(187, 194, 152);
    cursor: pointer;
    text-align: center;
    caret-color: blue;
}
.cartelcontainer:hover{
    background-color: rgb(221, 116, 17);
    box-shadow: 0 2px 4px rgb(0, 255, 98);
    
}